@font-face {
    font-family: "Jost";
    src: url("/static/Jost.ttf");
}

:root {
    --color-bg: #fff;
    --color-fg: #000;
    --color-alt-bg: #ddd;
    --color-alt-fg: #000;
    --color-accent-bg: #037;
    --color-accent-fg: #fff;

    font-family: "Jost", sans-serif;
    font-size: 16px;
    background-color: var(--color-bg);
    color: var(--color-fg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #000;
        --color-fg: #fff;
        --color-alt-bg: #222;
        --color-alt-fg: #fff;
    }
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: var(--color-accent-fg);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

.ui-state-hover {
    background: var(--color-accent-bg)!important;
    color: var(--color-accent-fg)!important;
}

/**********
 * HEADER *
 **********/

.nav-bar {
    color: var(--color-accent-fg);
    background-color: var(--color-accent-bg);
}

.nav {
    display: flex;
    font-size: 1.3rem;
    margin: 0 auto;
    max-width: 76rem;
    padding: 1rem .5rem;
}

.nav-logo {
    flex: auto;
    margin: auto 0;
    font-size: 2rem;
    font-weight: 700;
}

.nav-logo>a:hover {
    text-decoration: none;
}

.nav-link {
    flex: initial;
    display: inline-block;
    margin: .1rem 0;
    color: rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .2);
    border-style: solid;
    border-width: 1px;
    border-radius: .3rem;
    transition: color .1s, background-color .1s, border-color .1s;
    padding: .35rem .7rem;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

.nav-link+.nav-link {
    margin-left: .5rem;
}

@media screen and (max-width: 24rem) {
    .nav {
        flex-direction: column;
        padding: 0.33rem 0.5rem;
        text-align: center;
    }

    .nav-logo {
        flex: initial;
    }

    .nav-link {
        padding: .1rem .7rem;
    }

    .nav-link+.nav-link {
        margin-left: 0;
        margin-top: .2rem;
    }
}


/****************
 * MAIN CONTENT *
 ****************/

.content {
    max-width: 76rem;
    padding: .5rem .5rem;
    margin: 0 auto;
    font-size: 1.1rem;
    word-wrap: break-word;
    text-align: justify;
}

@media screen and (min-width: 76.5rem) {
    .content {
        padding: .5rem 0;
    }
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content ul,
.content ol {
    margin-top: 0;
}

.content table {
    text-align: unset;
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    word-break: normal;
    -webkit-overflow-scrolling: touch;
}

.content table th,
.content table td {
    padding: 0.5rem 1rem;
}

.content table th {
    font-weight: bold;
    background-color: var(--color-accent-bg);
    color: var(--color-accent-fg);
}

.content table tr:nth-child(even) {
    background-color: var(--color-alt-bg);
    color: var(--color-alt-fg);
}

.content table td,
.content th {
    border: 1px solid var(--color-fg)
}

.content hr {
    border: 1px inset var(--color-fg);
    height: 0;
    padding: 0;
    margin: 1rem 0;
    clear: both;
}

/****************
 * MAIN CONTENT *
 ****************/

.map {
    height: 32em;
}

.search-input {
    height: 2em;
    width: 100%;
}

.ui-autocomplete {
    position: absolute;
    z-index: 9999 !important;
}

.route-list {
    display: flex;
    flex-flow: row wrap;
    gap: .6em;
    justify-content: flex-start;
    padding: 0;
}

.route-list li {
    width: auto;
    flex: auto;
    flex-grow: 0;
    display: block;
}

/****************
 * STOPS TEMPLATE *
 ****************/

.available_lines {
    list-style-type: none;
    padding-bottom: 2em;
}

.available_lines li {
    padding-bottom: 1.2em;
}

.available_lines li a {
    text-decoration: none;
}

.lines_in_stop {
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding-left: 5em;
    padding-right: 5em;

}

.stop_map {
    height: 22em;
    width: 35em;
}

@media screen and (max-width: 52.124rem) {
    .lines_in_stop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stop_map {
        width: 45em;
    }
}

/**************
 * TIMETABLES *
 **************/

.timetables {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.timetables table {
    display: inline-block;
    width: fit-content;
}

/****************
 * LINES TEMPLATE *
 ****************/

.line-container {
    display: flex;
    flex-wrap: wrap;
}

.line-container ol {
    min-width: 12em;
}
