{% extends "transportation/base.html" %}
{% block title %}Szallitas - Home{% endblock %}
{% block content %}
<h2>Hello, world!</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Id aliquet risus feugiat in ante metus. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam.
    Augue neque gravida in fermentum et sollicitudin ac orci. Nullam vehicula ipsum a arcu. Eget dolor morbi non arcu
    risus quis varius quam. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Sit amet purus gravida
    quis blandit. Sagittis purus sit amet volutpat consequat. Egestas pretium aenean pharetra magna ac placerat
    vestibulum lectus mauris. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. A condimentum vitae
    sapien pellentesque habitant morbi. Tristique risus nec feugiat in. Est ante in nibh mauris.
</p>
<hr />
<h4>Table</h4>
<p>
<table>
    <tr>
        <th>1st column</th>
        <th>2nd column</th>
        <th>3rd column</th>
    </tr>
    <tr>
        <td>Foo</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Spam</td>
        <td>Eggs</td>
        <td>Spam &amp; Eggs</td>
    </tr>
    <tr>
        <td>Fizz</td>
        <td>Buzz</td>
        <td>Fizzbuzz</td>
    </tr>
</table>
<h4>Lists</h4>
<ul>
    <li>Lorem</li>
    <li>Ipsum</li>
</ul>
<ol>
    <li>Dolor</li>
    <li>sit</li>
    <li>Amet</li>
</ol>
</p>
{% endblock %}
