{% load transportation_extras %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#003377">
    <title>{% block title %}Szallitas{% endblock %}</title>
    {% block headinsert %}{% endblock %}
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .list-container {
            display: flex;
        }

        ul {
            margin-right: 20px;
            padding: 0;
            list-style: none;
        }
        
        li {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <header class="nav-bar">
        <nav class="nav">
            <span class="nav-logo"><a href="/transportation/">SZALLITAS</a></span>
            <span class="nav-logo">Line {{line_id}} {{line.line_type|line_emoji}} {{line.code}}</span>
            <a href="/transportation/#stops" class="nav-link">Lines&#x1F447</a>
            <a href="/transportation/#lines" class="nav-link">Stops&#x1F447</a>
        </nav>
    </header>
    <main class="content">
        <h1>Line {{line.line_type|line_emoji}} {{line_id}}. Select a stop</h1>

        <div class="list-container">
            {% for pattern in patterns %}
            <ul>
                <h3>For {{pattern.headsign}}</h3>
                {% for pattern_stop in pattern.pattern_stop_set.all %}
                <li><a href="/transportation/timetable/{{line_id}}/{{pattern_stop.stop_id}}">{{ pattern_stop.index|add:"1" }}. {{ pattern_stop.stop.name }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </main>
</body>
{% block scriptinsert %}{% endblock %}

</html>
